name: Release Please

on:
  push:
    branches:
      - main 

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run release-please
        uses: google-github-actions/release-please-action@v4
